{% block content %}
    {% load static %}
    
    <!-- Link Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <!-- Link other stylesheets -->
    <link rel="stylesheet" href="{% static 'intro/css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
    
    <div id="wrapper">
        <div class="main-content">
            <div class="header">
                <img class="logo" src="{% static 'intro/img/logo.png' %}" />
            </div>
            <div class="l-part bg-gray-50 py-6 px-4 rounded-md">
                <!-- Apply Tailwind classes for form styling -->
                <form action="{% url 'login' %}" method="post" class="space-y-4">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Log in" class="btn" />
                </form>
                {% if form.error %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
            </div>
        </div>
        <div class="sub-content">
            <div class="s-part">
                Don't have an account?<a href="#">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}
